:root {
    --culoare-card: #e5ded3;
    --culoare-fundal: #f5efef;
    --culoare-header: #c2d7ef;
    --culoare-footer: #dde7f2;
    --culoare-accent: #d97757;
    --culoare-border: #d8d8d8;
    --culoare-text: #2b2b2b;


    --culoare-airbnb-logo: #DB1B42;
    --culoare-airbnb-fundal: #FFFFFF;
    --culoare-airbnb-lightgrey: #717171;
    --culoare-airbnb-verylightgrey: #EBEBEB;
    --culoare-airbnb-darkgrey: #222222;


    --spatiere-pagina: 80px;
    --gap-grid: 20px;
}

header {
    background-color: var(--culoare-airbnb-fundal);
    padding: 20px;
    border-bottom: 2px solid var(--culoare-airbnb-lightgrey);
    font-family: "Open Sans", sans-serif;
}

header h1 {
    color: var(--culoare-airbnb-logo);
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--culoare-airbnb-verylightgrey);
    margin: 0;
    font-family: "Open Sans", sans-serif;


}

h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
}

@media(max-width:1024px) {
    :root {
        --spatiere-pagina: 40px;
    }
}

@media(max-width:768px) {
    :root {
        --spatiere-pagina: 15px;
    }
}

#grid-pagina {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "about about"
        "stays stays"
        "stays stays"
        "stays stays"
        "advantages how-citystay-works"
        "top-destinations top-destinations"
        "events faq";
    gap: var(--gap-grid);
}

#grid-pagina>section {

    background-color: var(--culoare-airbnb-verylightgrey);

    padding: var(--spatiere-pagina);
    border-bottom: 1px solid grey;


}

#about {
    grid-area: about;
}

#stays {
    grid-area: stays;
}

#advantages {
    grid-area: advantages;
}

#top-destinations {
    grid-area: top-destinations;
}

#how-citystay-work {
    grid-area: how-citystay-works;
}

#events {
    grid-area: events;
}

#faq {
    grid-area: faq;
}

.intro-oferte>div {
    margin-top: 5px;
}

.galerie {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
}

.galerie img {
    width: 180px;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.galerie img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.stays-container-paris {
    display: flex;
    gap: var(--gap-grid);
    overflow-x: auto;
    padding: 10px;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer */

}

.stay-card {
    background-color: var(--culoare-card);
    border-radius: 12px;
    width: 180px;
    padding: 10px;
    flex-shrink: 0;
}

.stay-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    display: block;

}

.stays-container-london {
    display: flex;
    gap: var(--gap-grid);
    overflow-x: auto;
    padding: 10px;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer */

}

.stay-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    display: block;

}

.stay-card:hover {
    transform: scale(1.05);
    transition: 0.3s;

}

.stays-container-ny {
    display: flex;
    gap: var(--gap-grid);
    overflow-x: auto;
    padding: 10px;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer */
}

.stay-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.stay-card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.rating {
    color: rgb(200, 182, 78);
    font-size: 18px;
    letter-spacing: 3px;

}

.stays-container-paris::-webkit-scrollbar,
.stays-container-london::-webkit-scrollbar,
.stays-container-ny::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

meter {
    width: 100px;
    height: 12px;

}

meter::-webkit-meter-optimum-value {
    background: black;
}

meter::-webkit-meter-bar {
    background: #dd57c7;
}

.destinations-container {
    display: flex;
    padding: 10px 0 20px 0;
    gap: 20px;
    overflow-x: auto;
}

.destination-card {
    flex: 0 0 180px;

}

.destination-card figure {
    margin: 0;
}

.destination-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.destination-card:hover img {
    transform: scale(1.03);
}

.destination-card img {
    transition: transform 0.3s ease;
}

footer {
    background-color: whitesmoke;
    padding: 20px 40px;
    margin-top: 40px;
}

.footer-contact {
    max-width: 500px;
    margin-left: 30px;
    font-style: normal;


}

.footer-title {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;

}

.footer-contact p {
    margin: 10px 0;
    font-family: "Poppins", sans-serif;

}

.footer-contact a {
    color: #222222;
    text-decoration: none;
    margin-left: 10px;

}

.footer-contact a:hover {
    text-decoration: underline;
}


/*btn  link este pt taabiri sa nu mai apara url*/
.btn-link {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    padding: 12px 20px;

    background-color: #DB1B42;
    color: white;
    text-decoration: none;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;

    border-radius: 12px;
    transition: all 0.3s ease;
}

.btn-link:hover {
    background-color: #a51734;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

#link-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    text-decoration: none;
    opacity: 0.6;
    transition: opacity 0.4s ease;
    z-index: 1000;
}

#arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    font-size: 28px;
    color: white;
    font-weight: bold;

    position: relative;
    z-index: 2;
}

#link-top::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;

    background: linear-gradient(to bottom,
            #8b0f2d 0%,
            #db1b42 50%,
            #8b0f2d 100%);

    border: 2px dashed white;
    box-sizing: border-box;

    transition: transform 0.6s ease;
    z-index: 1;
}

#link-top:hover {
    opacity: 1;
}

#link-top:hover::before {
    transform: rotate(360deg);
}