<footer>
    <address class="footer-contact">
        <p class="footer-title"><strong>Contact CityStay</strong></p>
        <p>Phone:
            <a href="tel:+40123456789">+40 123 456 789</a>
        </p>


        <p>Email:
            <a href="mailto:contact@citystay.com">contact@citystay.com</a>
        </p>


        <p>Chat with us:
            <a href="https://wa.me/40123456789" target="_blank">WhatsApp Support</a>
        </p>

    </address>
    <p class="banner">Acesta este un proiect scolar</p>


    <p><small>&copy; CityStay.
            Page created on
            <time datetime="2026-03-04"> 4th of March 2026</time></small></p>

</footer>