<header>
    <h1 class="logo">CityStay</h1>
    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="/resurse/imagini/hamburger_menu.png" alt="Menu">
        </label>
        <input type="checkbox" id="ch-menu">
        <ul class="menu">
            <li><a href="#"><i class="fa-solid fa-house"></i>Home</a>
                <ul class="submenu">
                    <li><a href="/index#about">About</a></li>
                    <li><a href="/index#faq">Faq</a></li>
                </ul>
            </li>

            <li><a href="#"><i class="fa-solid fa-user"></i>Become a member</a>
                <ul class="submenu">
                    <li><a href="#signin">Sign In</a></li>
                    <li><a href="#register">Register</a></li>
                </ul>
            </li>

            <li><a href="#"><i class="fa-solid fa-plane"></i>Popular Stays</a>
                <ul class="submenu">
                    <li><a href="/index#stays">Popular Stays</a></li>
                    <li><a href="/index#top-destinations">Top Destinations</a></li>
                </ul>
            </li>
            <li><a href="/index#how-citystay-works"><i class="fa-solid fa-magnifying-glass"></i>How It Works</a></li>
            <li><a href="/index#events"><i class="fa-solid fa-calendar"></i>Events</a></li>
        </ul>

    </nav>
</header>